<div class="container-label-twitter">
    <div class="row-user-twitter">
        <div class="col-avatar">
            <img [src]="img" />
        </div>
        <div class="col-user">
            <div class="label-user">
                {{user}}
            </div>
            <div class="label-date">
                {{date}}
            </div>
        </div>
    </div>

    <div class="talk-bubble tri-right left-top">
        <div class="talktext">
            <p>{{tweet}}</p>
        </div>
    </div>
</div>